.formGroup {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 46rem;
}

.form {
  width: 100%;
  transform: translateY(-25px);

  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.form input {
  background: var(--gray-500);
  color: var(--gray-300);
  border: 1px solid #000 !important;
  border: 0;
  border-radius: 8px;
  outline: none;
  padding: 0 1.25rem;

  height: 3rem;
  width: 39.875rem;
}

.form input:focus {
  color: var(--white);
  border: 1px solid var(--purple-600) !important;
}

.form button {
  color: var(--white);
  background: var(--blue-600);
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  padding: 0 1rem;
  width: 5.625rem;

  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 700;
  transition: 0.1s;
}

.form button:hover {
  background: var(--blue-300);
}

.tasks {
  margin-top: 1.5rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
